.container{
    max-width: 500px;
    margin: 2em auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
body{
    color: rgb(0, 0, 0);
}
.fields{
    padding: 1em 0;
    flex-direction: column;
    display: flex;
}

@keyframes fadeOutAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .fadeOut {
    animation: fadeOutAnimation 1s ease forwards;
  }