.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 48%;
    background-color: lightblue;
    margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
    .container {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }
}
